# Rider e JetBrains
.idea/
*.sln.iml

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Configuration
*.dbmdl
*.psess
*.vsp
*.vspx

# ASP.NET
appsettings.*.json

# Docker
docker-compose.*
!docker/docker-compose.yml

# Secrets
.env
!.env.example

# Logs
*.log

# Others
.vscode/
*.DS_Store
Thumbs.db
