#--- MySQL ---
MYSQL_ROOT_PASSWORD=root@soat1cSu
MYSQL_USER=appuser
MYSQL_PASSWORD=appuser@soat1cSu
MYSQL_DATABASE=barcodedb

#Usadas pela API (ConnectionString)
DB_HOST=database
DB_USER=appuser
DB_PASSWORD=appuser@soat1cSu
DB_NAME=barcodedb
DB_PORT=3306

#String de Conexão
DB_CONNECTION=Server=database;Port=3306;Database=barcodedb;Uid=appuser;Pwd=appuser@soat1cSu;
